/*********************************************************************************************
** Table of Contents:                                                                       **
**********************************************************************************************

Project:    JS Book Reader App
Version:    1.0.0
Created:    03/2023

1.  Color Codes
    ------------------------------
    1.  Primary Color
    2.  Secondary Color
    3.  Light Color
    4.  Warm Color
    5.  Dark Color
    ------------------------------

2.  Resets & Global Styles
    ------------------------------

3.  Components Styles
    ------------------------------
    1.  Book Viewer
    2.  Footer
    3.  Actions Popover
    4.  Ajax Loader
    5.  Custom Scrollbar
    ------------------------------

*********************************************************************************************/
